/* Temas del segundo período*/

.texto {

    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.principal {
    display: flex;

}


.Titulo{

    font-size: 50px;
    text-align: center;
    color: rgb(255, 245, 245);
}
.img1{
height: 300px;
width: 300px;
background-image: url("partes-circuitos-electricos.jpg");

float: left;

}
.img2{
    height: 521px;
    width: 900px;
    background-image: url("Mapa\ Mental\ Ideas\ yCreatividad\ Doodle\ Negro\ \(1\).jpg"); 
    background-repeat: no-repeat;
    float: left;

    
}
.imgc{
    background-image: url("images.jpg")


}
.imgt{
    background-color: rgb(250, 250, 250);
    color: black;
}
.imgini{

    background-image: url("images.jpg");

}
.textotec{

    color: black;
}
.textosoc{
    color: black;
}
.textomat{
    color: black;
    font-size: 50px;
}
.img3{ 
    
    background-image: url("8adb92c108546cffe4443b8baf2505e4.jpg");
    height: 500px;
    width: 700px;
    background-repeat: no-repeat;
    float: left;

}
.img4{

    background-image: url("images\ \(3\).jpg");
    height: 116px;
    width: 300px;
    background-repeat: no-repeat;
    float: left;
}
.img5{

    background-image: url("images\ \(2\).jpg");
    height: 116px;
    width: 520px;
    background-repeat: no-repeat;
    float: left;
         }
.img5{

            background-image: url("44394747dc9a924f74d99925dc352b40.jpg");
            height: 394px;
            width: 721px;
            background-repeat: no-repeat;
            float: left;
                 }

   






