/* Temas del segundo período*/

.texto {

    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

.principal {
    display: flex;

}


.Titulo{

    font-size: 50px;
    text-align: center;
    color: rgb(255, 240, 240);
}
.img1{
height: 300px;
width: 300px;
background-image: url("partes-circuitos-electricos.jpg");

float: left;

}
.img2{
    height: 900px;
    width: 600px;
    background-image: url("Mapa\ Mental\ Ideas\ yCreatividad\ Doodle\ Negro\ \(1\).jpg"); 
    background-repeat: no-repeat;
    float: left;
    
}
.imgc{
    background-image: url("images.jpg")


}
.imgt{
    background-color: rgb(250, 250, 250);
    color: black;
}
.imgini{

    background-image: url("images.jpg");

}
.textotec{

    color: black;
}



